/**
Name: Jeel Mitesh Tandel
Student Number: 041096158
Date: November 5th, 2023
Section: CST 8285 332
Professor: Alem Legesse
This is the resume.css for styling resume.html, so that it looks like a proper site
*/
html, body {
    height: 100%;
  }

body {
    background-color: #E2D1F9;
    color: #575757;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 25px;
    line-height: 1.8em;
    font-weight: 400;
    font-style: normal;
}

body h1 {
    color: #222;
}

#t1 {
    font-size: 60px;
}

#t3 {
    font-weight: 700;
    color: black;
}

h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 500px;
}

.div1 {
    display: flex;
    display: inline-block;
    flex-direction: column;
    padding: 4%;
    padding-left: 10%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}
.h, .r, .p, .c {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(57, 94, 82);
    display: flex;
    display: inline;
    margin-top: 20px;
  } 
.h{
    margin-right: 30px;
}
.r {
    margin-right: 30px;
}
.p {
    margin-right: 30px;
}
.c {
    margin-right: 30px;
}
#div1h2 {
    margin-top: -25px;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(197, 234, 222);
}
img {   
    display: inline-block;
    width: 200px;
    height: auto;
    margin-top: 0.1%;
}
#sh2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 100;
    margin-left: 150px;
    margin-top: 90px;
    vertical-align: top;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 195px;
}

#div1h2 {
    margin-top: -25px;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(197, 234, 222);
}

#title {
    margin-top: -40px;;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -600px;
    margin-left: 10%;
}
#ds1 {
    background-color: #317773;
    padding: 20px; 
    margin: 10px 0;
}
.myname {
    color: #333;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

li {
    font-size: 16px;
}
.section {
    margin: 20px 0;
}

.main {
    margin-top: -390px;
    margin-left: 150px;
}

a {
    text-decoration: none;
}

#fb{
    margin-top: 50px;
    display: inline-block;
    margin-left: 52%;
    margin-right: 20px;
}
#li {
    display: inline-block;
    margin-right: 20px;
}
#i {
    display: inline-block;
    margin-right: 20px;
}
#x {
    display: inline-block;
    margin-right: 20px;
}

#pc {
    font-size: medium;
    line-height: normal;
    display: inline-block;
    margin-left: 10%;
    color: aliceblue
}

footer {
    background-color: #317773;
    margin-top: 40%;
    margin-left: -158px;
    margin-right: -80px;
    color: aliceblue;   
    padding-bottom: 2%;
}

footer img {
    width: 30px;
    height: 30px;
}

#t1:link {
    color: #222;
}

#t3:link {
    color: #222;
}
#t2:link,
#t4:link,
#t5:link {
    color: rgb(57, 94, 82);
}

#t1:visited{
    color: #222;
}
#t2:visited,
#t3:visited,
#t4:visited,
#t5:visited {
    color: rgb(57, 94, 82);
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .div1 {
        padding: 2%;
    }

    #sh2 {
        margin-top: 10px;
    }

    .container {
        max-width: 90%;
    }

    #title {
        margin-top: 0;
    }
}